#search_box{:style=>"height:30px;width:320px;"}
  =form_tag("/") do
    #search_icon{:style=>"float:left;width:25px;"}
      =image_submit_tag("search_icon.jpg")
    #search_text{:style=>"width:175px;height:30px;float:left;"}
      =text_field_tag :search
    %label#search_button.fbButton.f_right{:style=>"width:70px;"}
      =submit_tag "Search"
-if @user.nil?
  = fb_login_button
#listings
  %h2{:style=>"font-size:16pt;"} Featured Listings
  %br
  -if @user
    %label.fbButton.f_right
      =link_to content_tag(:input,nil,{:type=>"button",:value=>"Manage My Listings"}),manage_my_rental_units_url
  %br
  %br
  %br
  =will_paginate(@paginate_obj,:renderer=>"FacebookLinkRenderer")
  =render(:partial=>"my_rental_units/unit_row",:collection=>@rental_units,:locals=>{:admin=>false})
%br
%br
-if @user
  %label.fbButton.f_right
    =link_to content_tag(:input,nil,{:type=>"button",:value=>"Manage My Listings"}),manage_my_rental_units_url