=render(:partial=>"canvas_meat")
:javascript
  window.fbAsyncInit = function() {
    FB.init({appId: '#{FB_ID}', status: true, cookie: true,xfbml: true});
    FB.getLoginStatus(function(response) {
      if (response.session) {
        FB.log("Logged in!")
        $(".logged_in").show();
        $(".not_logged_in").hide();
      } else {
        FB.log("Not Logged in!");
        $(".logged_in").hide();
        $(".not_logged_in").show();
      }
    });
  };
  (function() {
    var e = document.createElement('script'); e.async = true;
    e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
    document.getElementById('fb-root').appendChild(e);
  }());