=render(:partial=>"canvas_meat")
:javascript
  window.fbAsyncInit = function() {
    FB.init({appId: '#{Facebook::APP_ID}', status: true, cookie: true,xfbml: true});
    
    FB.Event.subscribe('auth.sessionChange', function(response) {
      if (response.session) {
        // A user has logged in, and a new cookie has been saved
      } else {
        // The user has logged out, and the cookie has been cleared
      }
    });
    
  };
  (function() {
    var e = document.createElement('script'); e.async = true;
    e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
    document.getElementById('fb-root').appendChild(e);
  }());