.bundle
db/*.sqlite3
log/*.log
log/*.lck
tmp/**/*
./**/*.log
./**/*.swp
db/development.sqlite3
solr/*
.rvmrc
autotest/*
.DS_Store
public/stylesheets/master.css
public/stylesheets/temparry.css
apache-solr-1.4.1
config/database.yml
config/facebook.yml
public/system
