.bundle
db/*.sqlite3
log/*.log
log/*.lck
tmp/**/*
./**/*.log
./**/*.swp
db/development.sqlite3
solr/*
.rvmrc
autotest/*
.DS_Store
public/stylesheets/master.css
public/stylesheets/temparry.css
config/facebook.yml
.idea
.AppleDouble
.DS_Store
