%h2 Greetings from HereStay!

%p== The owner of the property named #{@rental_unit.name} has canceled your reservation!

%p== You are scheduled to stay there from #{@booking.start_date.strftime("%m/%d/%Y")} to #{@booking.stop_date.strftime("%m/%d/%Y")}