%h2 Greetings from HereStay!

%p== A renter interested in the property named #{@rental_unit.name} has sent you a message!  Follow the link below to read and respond:

=link_to "Read It!",discuss_booking_url(@message.booking)