$fb_spacer_gray: #E5E5E5;

.UIObjectListing_Title {
  font-size: 13px;
  font-weight: bold;
}

.UIObjectListing {
  border-bottom: 1px solid $fb_spacer_gray;
  min-height: 50px;
  padding: 2px 0px;
}

.unit_row {
  border-bottom: 1px solid $fb_spacer_gray;
  margin-bottom: 7px;
  padding: 7px;
}

