/* -------------------------------------------------------------------------------------------------

Load this stylesheet after formtastic.css in your layouts to override the CSS to suit your needs.
This will allow you to update formtastic.css with new releases without clobbering your own changes.

For example, to make the inline hint paragraphs a little darker in color than the standard #666:

form.formtastic fieldset > ol > li p.inline-hints { color:#333; }

HINT:
The following style may be *conditionally* included for improved support on older versions of IE(<8)
form.formtastic fieldset ol li fieldset legend { margin-left: -6px;}

--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset > ol > li{
  overflow:hidden;
}
form.formtastic fieldset > ol > li {
margin-bottom:0.5em;
}

form.formtastic abbr, form.formtastic acronym{
  color:red;
}

form.formtastic fieldset > ol > li.text textarea {
  width:63%;
}
form.formtastic {
  font-size:1em;
}
form.formtastic label{
  font-size:14px;
  font-weight: bold;
}

form.formtastic textarea{
  font-size:13px;
}

form.formtastic fieldset legend{
  font-size:16px;
  font-weight: bold;
}

form.formtastic fieldset > ol > li p.inline-errors {
  clear: both;
}

form.formtastic .fbButton input {
background:none repeat scroll 0 0 transparent;
border:0 none;
color:#FFFFFF;
cursor:pointer;
display:inline-block;
font-family:'Lucida Grande',Tahoma,Verdana,Arial,sans-serif;
font-size:11px;
font-weight:bold;
margin:0;
outline:medium none;
padding:1px 0 2px;
white-space:nowrap;
}