.tbl_reservation{
  width: 100%;
  border-spacing: 0px 2px;
}

.tbl_reservation th{
  font-size: 12px;
}

.tbl_reservation td{
  padding:5px;
  font-size: 12px;
}

.tbl_reservation td.first{
  text-align: center;
}

#advanced-search .ui-slider-horizontal{
  width:120px;
}
#advanced-search .ui-slider { position: relative; text-align: left; }
#advanced-search .ui-slider .ui-slider-handle { position: absolute; z-index: 0; width: 16px; height: 17px; cursor: default;}
.ui-slider .ui-slider-range { position: absolute; z-index: 0.5; font-size: .7em; display: block; border: 0; background-position: 0 0; display:none;}
#advanced-search .ui-slider .ui-slider-range {z-index: 0; }
#advanced-search .ui-state-default{background: url("/images/slider.png") 3px 0px no-repeat; border: 0;} 
#advanced-search .ui-state-active{background: url("/images/slider.png") 3px 0px no-repeat;}

#relation_content{
  margin-left:auto;
  margin-right:auto;
  width:580px;
  font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
}
#relation_content .wrapper{
  margin-left:auto;
  margin-right:auto;
}
  #relation_content h2{
    font-size: 1.1em;
  }
  #relation_content .user_wrapper{
    float:left;
    padding: 10px;
    text-align:center;
    width: 120px;
  }
  
  #relation_content .user_wrapper.owner{
    width: 130px;
  }
  
  #relation_content .arrow, #relation_content .no_relation{
    width: 40px;
    float:left;
    height:170px;
  }
  #relation_content .arrow{
    background: transparent url(/images/bg_related.png) no-repeat center center;
  }
  #relation_content .no_relation{
    background: transparent url(/images/bg_no_relation.png) no-repeat center center;
  }