.UIObjectListing_Title {
  font-size: 13px;
  font-weight: bold; }

.UIObjectListing {
  border-bottom: 1px solid #e5e5e5;
  min-height: 50px;
  padding: 2px 0px; }

.unit_row {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 7px;
  padding: 7px; }

.fbButton {
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	color: white;
	font-size: 15px;
	background-color: #5B74A8;
	border-color: #29447E #29447E #1A356E;
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	background:url("/images/fb_btn_sprite.png") repeat scroll 0 0 #EEEEEE;
	border-style:solid;
	border-width:1px;
	cursor:pointer;
	display:inline-block;
	font-weight:bold;
	line-height:normal !important;
	padding:2px 6px;
	text-align:center;
	text-decoration:none;
	vertical-align:top;
	white-space:nowrap;
}

.fbButton input{
	margin-bottom: -1px;
	color: #FFFFFF;
	background: none repeat scroll 0 0 transparent;
	border: 0 none;
	cursor:pointer;
	display:inline-block;
	font-family:'Lucida Grande',Tahoma,Verdana,Arial,sans-serif;
	font-size:11px;
	font-weight:bold;
	margin:0;
	outline:medium none;
	padding:1px 0 2px;
	white-space:nowrap;
}

.f_right{
	float:right;
}