.UIObjectListing_Title {
  font-size: 13px;
  font-weight: bold; }

.UIObjectListing {
  border-bottom: 1px solid #e5e5e5;
  min-height: 50px;
  padding: 2px 0px; }

.unit_row {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 7px;
  padding: 7px; }

.fbButton {
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	color: white;
	font-size: 15px;
	background-color: #5B74A8;
	background-position: 0 -48px;
	border-color: #29447E #29447E #1A356E;
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	background:url("/images/fb_btn_sprite.png") repeat scroll 0 -48 #EEEEEE;
	border-style:solid;
	border-width:1px;
	cursor:pointer;
	display:inline-block;
	font-weight:bold;
	line-height:normal !important;
	padding:2px 6px;
	text-align:center;
	vertical-align:top;
	white-space:nowrap;
	margin: 5px;
}

.fbButton a{
	text-decoration: none;
}

.fbButton input{
	margin-bottom: -1px;
	color: #FFFFFF;
	background: none repeat scroll 0 0 transparent;
	border: 0 none;
	cursor:pointer;
	display:inline-block;
	font-family:'Lucida Grande',Tahoma,Verdana,Arial,sans-serif;
	font-size:11px;
	font-weight:bold;
	margin:0;
	outline:medium none;
	padding:1px 0 2px;
	white-space:nowrap;
}

.f_right{
	float:right;
}
.f_left{
	float:left;
}

.colored-bg{
  background-color:#FFC67D;
}

#flash .flash{
  border:3px solid #FFC67D;
  color:#000;
  font-weight:bold;
  margin:10px 0;
  padding:10px;
  font-size: 1.2em;
}

#flash .flash.alert{
  border: 3px solid red;
  color: red;
  font-weight:bold;
  margin:10px 0;
  padding:10px;
}
.unit_row.odd{ background-color:#FFC67D; }
.unit_row.even{ background-color:#E5D7C4; }
.unit_box{ height:100px;}
.unit_picture{ width:100px;float:left;}
.unit_description{ width:500px;float:right;}
.admin_buttons{ height:40px;}

#user_info{
	background-color:#FFC67D;
}

.share_box{
	min-height: 20px;
	min-width: 100px;
}
