%html{"xmlns:fb"=>"http://www.facebook.com/2008/fbml"}
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
  %title Admin
  
  %body
    #menu
      = link_to 'Funds', admin_funds_path
      = link_to 'Application', root_path
      
    = yield