= fb_button "Create Booking", new_rental_unit_booking_path(@rental_unit), :class_name => 'f_right'

%h1{:style=>"font-size:16pt;"}== Bookings for "#{@rental_unit.name}"

%br
%br
=link_to 'Reserved', rental_unit_bookings_url(@rental_unit)
=link_to 'Confirmed', rental_unit_bookings_url(@rental_unit, :confirmed => '1')
=render(:partial=>"shared/bookings",:locals=>{:booking_collection=>collection})
= fb_button "Back to My Properties", manage_rental_units_path