%ul.sub-menu.reservations
  %li= link_to 'Reserved', rental_unit_bookings_url(@rental_unit), :class => params[:confirmed].blank? ? 'current' : ''
  %li= link_to "Confirmed(#{@rental_unit.bookings.active.confirmed.size})", rental_unit_bookings_url(@rental_unit, :confirmed => '1'), :class => params[:confirmed].blank? ? '' : 'current'

.border
  =render :partial => 'shared/bookings', :locals => {:booking_collection=>collection}
  -#= fb_button "Back to My Properties", manage_rental_units_path