%h2.logo_trans HereStay
.allow_page
  .demo_action
    .white_box
      %p Start your adventure NOW by getting the HereStay App.  Search for a deal, or post your own property for all of your friends to see!
      %p You’re just one click away from earning rewards,    getting last minute deals, and getting more action for your vacation property.
  .promo_box
    %ul
      %li.ico_cash
        %h3 Earn Rewards
        We provide incentives for you to Share your favorite properties with your friends. Enjoy the cash.
      %li.ico_deals
        %h3 Last Minute Deals
        Bargain hunters rejoice. Find the best deals, discover hidden gems, and save hundreds.
      %li.ico_video
        %h3 Experience More
        Videos bring the properties to life. Actually see and experience what you’re getting. No surprises.
      %li.ico_chat
        %h3 Chat It Up
        Talk with property owners and make the deal that works for you. Instant Message, Chat, or Text.
      %li.ico_mobile
        %h3 Stay Mobile
        HereStay allows you to reach the owners whether you’re at home, work, or the beach.
      %li.ico_trust
        %h3 Trust
        Tap into your personal network. Get referrals from your circle of friends. You probably know someone who owns a vacation property, or knows Kevin Bacon.




