@import "compass/reset"
@import "compass/css3"

//--------------------- [ layout ] ---------------------//
#sidebar
  width: 170px
  height: 300px
  float: left

#main
  float: left
  border: 1px solid black
  width: 530px
  padding: 20px

#header
  margin-bottom: 10px
  overflow: hidden

#logo
  float: left
  margin-right: 20px

#like-button
  float: left
  width: 200px
  margin-top: 15px

//--------------------- [ simple search ] ---------------------//
#search-form
  border: 1px solid black
  padding: 5px
  overflow: hidden
  margin-bottom: 10px

#simple-search
  overflow: hidden      
  .expander
    float: left
    margin-right: 20px
    margin-top: 3px
    a
      display: inline-block
      width: 19px
      color: transparent
      &.minimized
        background: transparent url(/images/u11.png) 0 0 no-repeat
      &.maximized
        background: transparent url(/images/u10.png) 0 0 no-repeat
  .search-wrapper
    border: 1px solid #B4B4B4
    padding: 2px
    padding-left: 23px
    background: transparent url(/images/u53.png) 2px 2px no-repeat
    float: left
    input[type=text]
      border: 0
      width: 354px
      background: transparent
  input[type=submit]
    margin: 2px
    
//--------------------- [ advanced search ] ---------------------//

#advanced-search  
  display: none
  clear: both
  overflow: hidden
  margin-bottom: 10px  
  .friends
    margin-bottom: 10px
  .date-range, .left
    p
      padding: 5px
    label
      display: inline-block
      width: 76px
      text-align: right
    input
      width: 110px !important
  .date-range
    margin-bottom: 10px
  .left
    float: left
    width: 220px
  .right
    float: left
    padding-left: 30px
    .zoom-box
      text-align: center
      margin-top: 20px
      .labels
        color: #5C9CCC
      .ui-slider
        margin: 0 auto
  .field-box
    overflow: hidden
    padding: 5px 0
    label
      display: block
      float: left
    .slider-container
      float: left
      margin-left: 15px
      .labels
        overflow: hidden
        height: 16px
        margin: 0 0 5px
        padding: 0
        width: 126px
        div
          float: left
          width: 25px
          height: 16px
          &.sel
            color: #5C9CCC
        span
          color: #5C9CCC
        &.budget
          text-align: center
        &.rating
          div            
            width: 8px
            &.even
              margin-left: 4px
              background: url("/images/star_on.png") no-repeat scroll left top transparent
              &.sel
                background: url("/images/star_off.png") no-repeat scroll left top transparent
            &.odd
              margin-right: 4px
              background: url("/images/star_on_two.png") no-repeat scroll left top transparent
              &.sel
                background: url("/images/star_off_two.png") no-repeat scroll 0 0 transparent
        &.with-zero
          div
            width: 21px
      
//--------------------- [ menu ] ---------------------//
#menu
  overflow: hidden
  margin-bottom: 10px  
  li
    float: left
    width: 104px
    text-align: center
  
//--------------------- [ content ] ---------------------//
#content
  clear: both