@import "compass/reset"
@import "compass/css3"

//--------------------- [ colors ] ---------------------//
$light_gray = #DDD
$lite_gray = #edeef4
$border = 1px solid #B4B4B4

//--------------------- [ typo ] ---------------------//
h2
  font-size: 18px
  
h3
  font-size: 16px
  margin-bottom: 5px
  font-weight: bold

h4
  font-size: 13px
  font-weight: bold

dt
  font-weight: bold

//--------------------- [ basic classes ] ---------------------//
.f_right
  float: right
  
.f_left
  float: left
  
.clearfix
  clear: both
  
.simple-button
  a
    font-size: 13px
    text-decoration: none
  &.current
    input
      color: blue
      font-weight: 700

.border
  border: 1px solid #B4B4B4  

.share_box
  min-height: 20px
  min-width: 60px

.hidden
  display: none

.fb-profile-link
  color: #3B5998
  margin-right: 10px

#errorExplanation
  border: 2px solid red
  background-color: #fff
  padding: 5px
  margin-bottom: 5px
  h2
    font-size: 1.2em
  ul
    list-style-type: none
    padding-left: 20px
  li
    padding-left: 20px
    margin: 0
    padding: 0
  
.links
  margin-bottom: 20px
  overflow: hidden
  a
    display: block
    float: left
    text-decoration: none
    color: #868789
    padding: 5px 10px
    margin-right: 10px
    border: 2px solid #c6c6c8
    background: #e5e6eb
    &.current
      background: #90a9df
      border: 2px solid #6b706a
      color: #373d49
      

//--------------------- [ override ] ---------------------//
.ui-slider-horizontal
  height: 0.5em
  
form.formtastic label
  font-weight: normal
  margin-right: 6px

form.formtastic legend.label
  float: left
  text-align: right
  width: 25%
  position: static
  margin-right: 6px

form.formtastic legend.label label
  width: 100%
  float: none
  display: inline-block
  position: static !important

form.formtastic fieldset > ol > li fieldset ol
  float: none

//--------------------- [ slider ] ---------------------//
#advanced-search .ui-slider-horizontal
  margin-left: 6px
  width: 105px


//--------------------- [ layout ] ---------------------//
body
  font-family: sans-serif

#sidebar
  width: 170px
  min-height: 300px
  float: left
  font-size: 13px
  .current-user
    margin-bottom: 20px
    .fb-profile-link 
      img
        width: 30px
        padding-right: 5px
    a
      font-weight: bold
      text-decoration: none
  .suggestion
    overflow: hidden
    margin-bottom: 20px
    h3
      font-weight: normal
      font-size: 14px
      color: gray
      margin: 5px
    img
      width: 30px
      height: 30px

#main
  float: left
  width: 584px  
  border-left: solid 4px #BCBEC0
  
#header
  margin-bottom: 10px
  overflow: hidden
  padding: 20px
  padding-bottom: 0
  background: #EDEEF3 url('/images/dot3.gif') left bottom repeat-x

#logo
  float: left
  margin-right: 20px
  margin-bottom: 5px

#like-button
  float: left
  width: 200px
  margin-top: 15px

//--------------------- [ UIObject ] ---------------------//
.UIObjectListing_Title
  font-size: 13px
  font-weight: bold

.UIObjectListing
  border-bottom: 1px solid #e5e5e5
  min-height: 50px
  padding: 2px 0px

//--------------------- [ jGrowl ] ---------------------//
div.jGrowl div.jGrowl-notification
  color: #fff
  
div.jGrowl div.jGrowl-notification a
  color: #fff
  font-weight: bold

//--------------------- [ flash ] ---------------------//
#flash .flash
  border: 3px solid #FFC67D
  color: #000
  font-weight: bold
  margin: 10px 0
  padding: 10px
  font-size: 1.2em

#flash .flash.alert
  border: 3px solid red
  color: red
  font-weight: bold
  margin: 10px 0
  padding: 10px

//--------------------- [ odd / even ] ---------------------//
.odd
  background-color: #FFC67D
    
.even
  background-color: #E5D7C4

//--------------------- [ simple search ] ---------------------//
#search-form
  border: solid 2px #DCDEE7
  padding: 3px
  overflow: hidden
  margin-bottom: 10px
  background: #F6F7FA

#simple-search
  overflow: hidden      
  .expander
    position: relative
    float: left
    a
      position: absolute
      display: block
      width: 18px
      color: transparent
      margin-top: 7px
      &.minimized
        background: transparent url(/images/u11.png) 0 0 no-repeat
      &.maximized
        background: transparent url(/images/u10.png) 0 0 no-repeat
    input
      display: block
      border: 0
      background: none
      font-size: 15px
      line-height: 22px
      font-weight: normal
      cursor: hand
      cursor: pointer
      color: #8B8C8D
      padding: 0
      margin: 4px 0 0 20px      
  .search-wrapper
    border: 1px solid #B4B4B4
    padding: 5px
    background: #fff
    float: left
    margin-right: 10px
    .lens
      width: 22px
      height: 16px
      float: left
      background: transparent url(/images/u53.png) 2px 2px no-repeat
    input[type=text]
      border: 0
      width: 420px
      background: transparent
      font-size: 14px
      color: #8d8d8d
      
    
//--------------------- [ advanced search ] ---------------------//

#advanced-search  
  display: none
  clear: both
  overflow: hidden
  margin: 10px 0  
  .friends
    margin-bottom: 10px
    label
      font-size: 13px
  .date-range, .left
    p
      padding: 5px
    label
      display: inline-block
      width: 76px
      text-align: right
      font-size: 13px
    input
      width: 110px !important
  .date-range
    margin-bottom: 10px
  .left
    float: left
    width: 220px
  .right
    float: left
    padding-left: 30px
    .zoom-box
      text-align: center
      margin-top: 20px
      .labels
        color: #5C9CCC
      .ui-slider
        margin: 0 auto
  .field-box
    overflow: hidden
    padding: 5px 0
    label
      display: block
      float: left
    .slider-container
      float: left
      margin-left: 15px
      .labels
        overflow: hidden
        height: 16px
        margin: 0 0 5px
        padding: 0
        width: 126px
        div
          float: left
          width: 25px
          height: 16px
          &.sel
            color: #5C9CCC
        span
          color: #5C9CCC
        &.budget
          text-align: center
        &.rating
          div            
            width: 8px
            &.even
              margin-left: 4px
              background: url("/images/star_on.png") no-repeat scroll left top transparent
              &.sel
                background: url("/images/star_off.png") no-repeat scroll left top transparent
            &.odd
              margin-right: 4px
              background: url("/images/star_on_two.png") no-repeat scroll left top transparent
              &.sel
                background: url("/images/star_off_two.png") no-repeat scroll 0 0 transparent
        &.with-zero
          div
            width: 21px
      
//--------------------- [ menu & submenu ] ---------------------//
#menu
  overflow: hidden
  margin-bottom: 20px
  ul
    li
      background: url('/images/menu_tmp_bg.png') 10px 4px no-repeat
      padding: 5px 0px 0px 35px
      height: 24px
      a
        text-decoration: none
        color: #000
      border: 0
    li.all-properties
      background: url('/images/menu_all_props_bg.png') 10px 4px no-repeat
    li.my-properties
      background: url('/images/menu_my_props_bg.png') 10px 4px no-repeat
    li.account
      background: url('/images/menu_account_bg.png') 10px 4px no-repeat
    li.inquiries
      background: url('/images/menu_inquiries_bg.png') 10px 4px no-repeat
    li.reservations
      background: url('/images/menu_reservations_bg.png') 10px 4px no-repeat
      &.sub
        margin-left: 10px
    li.new-property
      background: url('/images/menu_new_props_bg.png') 10px 4px no-repeat
      margin-top: 20px
    li.current
      background-color: #D8DEEA
        
.sub-menu
  border: 0
  border-bottom: 1px solid #B4B4B4
  &.reservations
    border: 1px solid #B4B4B4
    margin-bottom: 10px
  li
    display: block 
    float: left
    &.with-counter
      display: block
      position: relative
      .counter
        position: absolute
        background: transparent url(/images/u80.png) no-repeat
        left: 0
        top: 0
        color: white
        font-size: 12px
        padding-top: 5px
        padding-left: 7px
        width: 20px
        height: 20px
        margin-left: 60px
        margin-top: -9px
    a
      padding: 8px
      display: inline-block
      border: 1px solid transparent      
      text-decoration: none
      color: #8B8B8B
      &.current
        background: $light_gray
        color: #8B8B8B
        font-weight: 600
        border: 1px solid $light_gray
.submenu
  margin-top: 20px
  li
    display: block 
    float: left
    background: #D8DEEC
    padding: 5px 15px 5px 15px
    margin-right: 10px
    border: solid 3px #DCDEE7
    margin-bottom: -3px
    a
      color: #4D5085
      text-decoration: none
      font-weight: bold
    &.current
      background: #FFF
      border-bottom: solid 3px #FFF
  
//--------------------- [ content ] ---------------------//
#content
  clear: both
  padding: 10px
  font-size: 13px
  margin: 20px
  
//--------------------- [ rental utils ] ---------------------//
.property, .property_form
  .left-column
    width: 100px
    float: left
    margin-right: 10px
    div
      margin-bottom: 5px
  .right-column
    width: 370px
    float: left  
  .left-col
    float: left
    width: 50%
  .right-col
    float: right
    margin-left: 15px
    text-align: right
    //width: 50%
  .right-text
    text-align: right
  label 
    font-weight: normal
  .big-text
    height: 100px
    width: 425px
     
.property
  width: 485px
  border: solid 1px #B4B4B4
  margin-top: 10px
  padding: 10px
  .description
    text-align: justify
    margin: 10px 0  
  .amenities
    margin: 20px 0 
  .title
    overflow: hidden
    font-weight: bold
    font-size: 13px
    .by
      font-weight: normal
      line-height: 20px
  .share_box
    padding: 1px 10px
  .messages
    .fb-profile-link 
      img
        width: 30px
    border: solid 1px #bfbfbf
    padding: 10px
    .form
      width: 470px
      textarea
        width: 280px
        height: 50px
        font-size: 13px
      div
        margin-right: 5px
    .message
      .body
        width: 270px
        padding: 5px 10px
        -moz-border-radius: 5px 
        -webkit-border-radius: 5px
        font-weight: bold
        color: #333
    .user
      width: 30px
    .arrow
      width: 20px
    .message
      margin: 10px
      &.owner_message      
        .user
          float: left
        .arrow
          float: left
          background: transparent url('/images/mess_arrow_owner.png')
        .body
          float: left
          background: #E8FF85
      &.renter_message
        .user
          float: right
        .arrow
          float: right
          background: transparent url('/images/mess_arrow_renter.png')
        .body
          float: right
          background: #D7D7D7
  .comments
    font-size: 12px
    .like
      height: 20px
    .comment  
      margin-top: 3px
      background: #EEEFF4
      padding: 5px
      .image
        float: left
        width: 30px
        height: 30px
        background: #C5CDE0
        img
          width: 30px
      .text
        padding-left: 10px
        float: left
        width: 320px
        a
          color: #576290
          font-weight: bold
          text-decoration: none
        .date
          color: #9D9EA3
          margin-top: 5px
      
.property_form
  border: solid 1px #B4B4B4
  padding: 10px
  input.med
    width: 154px
    margin-left: 3px
  input.small
    width: 70px
  .row
    margin-bottom: 7px
  .row-empty
    height: 25px
  .dataRow
    margin-bottom: 20px
    vertical-align: top
  .dataRow.price
    .row
      margin-left: 14px
    .col
      float: left
      width: 33%
    h4
      margin: 15px 0 3px
  .data-box
    width: 233px
    font-size: 12px
  .data-box-left
    float: left
  .data-box-right
    float: right
  .all-wrap
    float: right
  .image
    .btn
      margin-bottom: -17px
      position: relative
.booking_form
  border: solid 1px #bfbfbf
  padding: 10px
  .row
    margin-bottom: 10px
    .col
      float: left
    .col.label
      width: 100px
      font-weight: bold
    .col.fee
      margin-left: 80px
      font-weight: bold
      span
        font-weight: normal
        
#preview_images
  width: 330px
  height: 104px
  border: solid 1px #BCBEC0
  background: #F6F7FA
  margin-bottom: 10px
  overflow: hidden
  .photo
    padding: 5px
    overflow: hidden
    width: 100px
    height: 95px
    float: left
    .actions
      text-align: center
      height: 15px
      a
        font-size: 12px
        color: #8B8C8D
    &.primary
      background: #8B8C8D
      .actions
        a
          color: #fff
    .img
      overflow: hidden
      width: 100px
      height: 80px
    img
      width: 100px
    .notloaded
      height: 20px
      text-align: center
      font-weight: bold
      margin-top: -20px
      position: relative
      color: #BCBEC0
      background: #fff
.thumbs-right-logic, .thumbs-left-logic
  cursor: hand
  cursor: pointer

//--------------------- [ account pages ] ---------------------//
#account-header
  overflow: hidden
  margin-bottom: 10px
  .fb-profile-link
    float: left
    margin-right: 10px

#account-content
  border: $border
  
//--------------------- [ bookings table ] ---------------------//
p.total-rewards
  margin: 10px 0
  span
    margin-right: 10px

table.bookings
  margin: 10px
  border-top: $border
  border-left: $border
  width: 485px
  th
    background: $lite_gray
  td, th
    border-right: $border
    border-bottom: $border
    padding: 10px
    text-align: center
  td
    vertical-align: top
    &.first
      width: 100px
    &.second
      width: 150px
    &.third
      width: 100px

//--------------------- [ edit account ] ---------------------//
#user-form
  overflow: hidden
  padding: 10px  
  .f_left
    padding: 10px
    padding-right: 0
  .half_part
    float: left
    width: 45%
    margin: 10px 0 10px 10px
  p
    padding: 5px
    text-align: center
  label
    text-align: right
    font-size: 12px
  fieldset.buttons
    margin-top: 80px
    float: right
    
//--------------------[ availabilities calendar fixes ] ---------------------//
.calendar 
  padding-top: 10px
  font-size: 12px
  width: 218px
  .date
    text-align: center
    .month
      font-weight: bold
    .ajax-loader
      display: none
      img
        width: 10px
        height: 10px
  .prev-nav
    position: relative
    margin-top: -12px
    a
      text-decoration: none
      color: #000
      &:hover
        color: #F88B8F
    a.today
      padding: 2px
      padding-top: 0
      background: #C5DBEC
      font-size: 0.8em  
  table
    margin-top: 10px
    background: #fff
    collapse: collapse
    border: 1px solid #C5DBEC
    border-bottom: 0
    border-right: 0
    td, th
      width: 30px
      height: 30px
      border: 1px solid #C5DBEC
      border-top: 0
      border-left: 0
      vertical-align: top
      &.other_month
        color: #fff
      &.cur
        background: url("/images/cal_event_end.png") no-repeat
        span
          font-weight: bold
      &.event, &.last, &.cur.event
        background: #F88B8F
      &.event.start
        background: url("/images/cal_event_start.png") no-repeat
      &.event.end
        background: url("/images/cal_event_end.png") no-repeat
      &.event.start.end
        background: #F88B8F
      span
        margin: 2px
    th
      height: 20px
      font-weight: bold
      background: #DFEFFC
      padding-left: 2px
      
//---------------------[bread crumbs] ---------------------//
.bread_crumbs
  margin: 15px 0 0 30px
  font-size: 13px
  span.selected
    font-weight: bold
    
//---------------------[my-info-page] ---------------------//
#my-info-page
  border: $border
  padding: 10px

//---------------------[my-info-page] ---------------------//
#billing-info
  border: $border
  padding: 10px
  p
    margin-bottom: 10px
  .info
    overflow: hidden
    border: $border
    padding: 20px
    li
      padding: 5px 0
      color: gray
//---------------------------[cluetip]-----------------------------//

.cluetip-default 
  background-color: #EDEEF3
  #cluetip-outer
    background-color: #EDEEF3
  #cluetip-close
    a
      color: #8B8C8D
      
