.property
  .share_box
    padding: 1px 10px
  .messages
    .fb-profile-link 
      img
        width: 30px
    border: solid 1px #bfbfbf
    padding: 10px
    .form
      width: 470px
      textarea
        width: 280px
        height: 50px
        font-size: 13px
      div
        margin-right: 5px
    .message
      .body
        width: 270px
        padding: 5px 10px
        -moz-border-radius: 5px 
        -webkit-border-radius: 5px
        font-weight: bold
        color: #333
    .user
      width: 30px
    .arrow
      width: 20px
    .message.owner_message
      .user
        float: left
      .arrow
        float: left
        background: transparent url('/images/mess_arrow_owner.png')
      .body
        float: left
        background: #E8FF85
    .message.renter_message
      .user
        float: right
      .arrow
        float: right
        background: transparent url('/images/mess_arrow_renter.png')
      .body
        float: right
        background: #D7D7D7