= render 'submenu'

= will_paginate collection, :renderer => "FacebookLinkRenderer"
.properties= render :partial => 'deal', :collection => collection, :as => :resource
= will_paginate collection, :renderer => "FacebookLinkRenderer"