.links
  = link_to 'Edit', edit_account_path, :class => current_page?(edit_account_path) ? 'current' : ''
  = link_to 'My Billing Info', subscription_path, :class => current_page?(subscription_path) ? 'current' : ''
  = link_to 'Get Full Feature'
