%ul.sub-menu
  %li= link_to 'My Stays', account_url, :class => action?('show') ? 'current' : ''
  %li= link_to 'My Place', my_place_account_url, :class => action?('my_place') ? 'current' : ''
  %li= link_to 'My Rewards', my_rewards_account_url, :class => action?('my_rewards') ? 'current' : ''
