%label.uiButton.uiButtonConfirm.uiButtonMedium{:style=>"color:white;font-size:15px;float:right;margin:3px;"}
  %a{:href=>"#"}
    %input{:type=>"button",:value=>"Load VRBO Calendar"}
%label.uiButton.uiButtonConfirm.uiButtonMedium{:style=>"color:white;font-size:15px;float:right;margin:3px;"}
  %a{:href=>"#"}
    %input{:type=>"button",:value=>"Load VRBO Full Listing"}
%fb:header==Editing #{@rental_unit.name}
=render(:partial=>"form")