%h2==Editing #{@rental_unit.name}
=render(:partial=>"form")
%label.fbButton.f_right
  =link_to content_tag(:input,nil,{:type=>"button",:value=>"Load VRBO Calendar"}),"#"
%label.fbButton.f_right
  =link_to content_tag(:input,nil,{:type=>"button",:value=>"Load VRBO Full Listing"}),"#"