%fb:profile-pic{:size=>"small",:uid=>@user.fb_user_id}
%h2
  %fb:name{:uid=>@user.fb_user_id,:useyou=>"false",:possessive=>"true"}
  Listings:
%br
=render :partial=>"unit_row",:collection=>@rental_units,:locals=>{:admin=>true}
%br
%label.fbButton.f_left.logged_in
  =link_to content_tag(:input,nil,{:type=>"button",:value=>"Edit My Account"}),edit_account_path(@user.id)
%label.fbButton.f_left.logged_in
  =link_to content_tag(:input,nil,{:type=>"button",:value=>"Add Listing"}),new_my_rental_unit_path
:javascript
  window.fbAsyncInit = function() {
    FB.init({appId: '#{FB_ID}', status: true, cookie: true,xfbml: true});

    FB.Event.subscribe('auth.sessionChange', function(response) {
      if (response.session) {
        // A user has logged in, and a new cookie has been saved
      } else {
        // The user has logged out, and the cookie has been cleared
      }
    });

  };
  (function() {
    var e = document.createElement('script'); e.async = true;
    e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
    document.getElementById('fb-root').appendChild(e);
  }());