%h2 
  Photos for
  =@rental_unit.name

-@photos.each do |photo|
  .photo{:style=>"background-color:#{cycle("#FFC67D","#E5D7C4")};"}
    =image_tag(photo.picture.url(:thumb))
    .actions
      %label.fbButton
        =link_to content_tag(:input,nil,{:type=>"button",:value=>"Delete"}),delete_photo_my_rental_units_path(:id=>photo.id)
%br
#photo_form{:style=>"background-color:#FFC67D;"}
  =form_for :photo,:url=>new_photo_my_rental_units_path,:html => { :multipart => true } do |f|
    =f.hidden_field :rental_unit_id
    %br
    = f.label :picture,"New Photo:"
    = f.file_field :picture
    %br
    %label.fbButton= f.submit "Add"