%div.multi-upload-form
  %span.thumbs-left-logic &larr;
  Photos(
  %span.count-photos>= @rental_unit.photos.count
  )
  %span.thumbs-right-logic &rarr;
  #preview_images
  .clearfix
  =form_for :photo, :url => ajaxupload_photos_url, :html => { :multipart => true, :target => 'uploadframe'} do |f|
    %div
      =file_field_tag 'photo[picture]'
      =image_tag('ajax_small.gif', :class => 'ajax_photo_loader hidden')
%iframe#uploadframe{:name => 'uploadframe', :src => "about:blank", :height => "0", :frameborder => "0", :width => "0"}