Import From:
%span#vrbo_listings
  VRBO
  = image_tag('ajax_small.gif')
= submit_tag 'Go'
:javascript
  $(document).ready(function() {
    $("#vrbo_form input").attr('disabled', 'disabled');
    $.post('#{vrbo_listings_rental_units_url}',{}, function(data){
      $('#vrbo_listings').html(data);
    })
      $("#vrbo_form select").live('change', function(){
        if(parseInt($(this).val()) > 0){
          $("#vrbo_form input").removeAttr('disabled');
        }else{
          $("#vrbo_form input").attr('disabled', 'disabled');
        }
      })
    })