%h1 Availabilities
%div{:style => 'padding: 20px; background: #FFC67D;'}
  %div{:style => 'width: 400px;'}
    = render :partial => "calendar", :object => @rental_unit
  %br    
  = fb_button "Back", :back


