%fb:profile-pic{:size=>"small",:uid=>@user.fb_user_id}
%h2
  %fb:name{:uid=>@user.fb_user_id,:useyou=>"false",:possessive=>"true"}
  Properties:
%br
=render :partial=>"unit_row",:collection=>@rental_units
%br
= fb_button 'My Account', account_path, :class_name => 'f_left logged_in'
= fb_button 'Add Property', new_rental_unit_path, :class_name => 'f_left logged_in'
= fb_button 'Import active properties from Vrbo', import_rental_units_path, :method => :post, :class_name => 'f_left logged_in'
= fb_button 'Back to Search', root_path, :class_name => 'f_left logged_in'