=content_for :submenu do
  %ul
    %li.current= link_to 'My Properties'
    .clearfix
%h2= pluralize(@rental_units.size, 'post')
.properties
  = render :partial => 'unit_row', :collection => @rental_units
  =will_paginate(@rental_units,:renderer=>"FacebookLinkRenderer")