%h2
  New Property for
  =fb_name(:uid=>current_user.fb_user_id)
.pal.grayArea.gray_box.noborder.colored-bg
  #rental_unit_form
    = form_for @rental_unit, :rental_unit, :url => rental_units_path, :html => { :multipart => true } do |f|
      = render 'form', {:f => f}