= fb_profile_pic(:size=>"small",:uid=>@user.fb_user_id)
%fb:header
  Properties belonging to 
  = fb_name(:uid=>@user.fb_user_id,:useyou=>"false")
%br
=render :partial=>"unit_row",:collection=>@rental_units,:locals=>{:admin=>false}
=will_paginate(@rental_units,:renderer=>"FacebookLinkRenderer")