= fb_profile_pic(:size=>"small",:uid=>@user.fb_user_id)
%h1
  Properties belonging to 
  = fb_name(:uid=>@user.fb_user_id,:useyou=>"false")
%br
=render :partial=>"unit_row", :collection=>collection
=will_paginate(collection,:renderer=>"FacebookLinkRenderer")