%br
%h1 Now that you've updated this property, why not share it with your friends?
%br
=render(:partial=>"unit_row",:object=>@rental_unit,:locals=>{:admin=>false})
%a{:href=>"/#{fb_app_name}/manage_rental_units"} Back to My Properties