=content_for :submenu do
  %ul
    %li.current= link_to 'Inquiries'
  .clearfix
#properties.properties
  = render :partial => "shared/chat", :collection => collection

:javascript
  var polling_data = {
      "last_message" : "#{current_user.messages.by_date.last.try(:id)}"};
  $(document).ready(function() {
    $("#booking_message_message").focus();
    setInterval(function() {
      $.ajax({
        url: "#{messages_inquiries_path}",
        type: "GET",
              data: polling_data,
              dataType: "json",
              success: appendMessages,
        })
      }, 10000);
      
      $('.form textarea').live('keypress', function(e){
        if (e.keyCode == 13) {
          $(this).parents('form').submit();
          $(this).blur();
        }
      })
      
      $('.form form').submit(function(){
        var textarea = $(this).find('textarea');
        
        if (textarea.val() === '' || !!textarea.val().match(/^\s*$/)) {
          alert('Message is empty! Please enter a body of the message!');
        } else {
          $.ajax({
              url: $(this).attr('action'),
              type: "POST",
              dataType: "json",
              data: $(this).serialize(),
              success: appendMessages,
            });
          textarea.val('');        
        }
        return false;
      })
    });

        function appendMessages(data){
          var count = 0;
          $.each(data, function(i, item) {
            if($('#booking_' + item.booking_id)[0]){
              appendMessage(item);
            }else{
              appendChat(item.booking_id)
            }
            count++;
          });
          if(count > 0) {scrollDown(data[(count - 1)].booking_id);}
        }
        
        function appendMessage(item){
          var html_message = "<div class=\"message " + item.message_class + "\" id=\"message_" + item.id + "\"> " + '<div class="time">' + item.sent_at_long + "</div>" + "<div class=\"user\"><a href='http://www.facebook.com/profile.php?id=" + item.user_fb_id + "' target='top' class='fb-profile-link'><fb:profile-pic uid='"+item.user_fb_id+"' size='thumb' linked='false'></fb:profile-pic>" + "</a></div>" + "<div class=\"arrow\"><br></div><div class=\"body\"><strong>" + item.message + "</strong>" + "</div>" + "<div class=\"clearfix\"></div></div>"
          if(!$('#message_' + item.id)[0]){
            $('#booking_' + item.booking_id + ' .listing').append(html_message);
          }
          FB.XFBML.parse(document.getElementById('booking_' + item.booking_id));
          polling_data["last_message"] = item.id;
        }
        
        function appendChat(item_id){
          $.ajax({
            url: '/bookings/' + item_id + '/messages',
            type: "GET",
            dataType: "script",
            data: {},
            success: function(data){
              $('#properties').append(data);
            },
          });
        
        }
        function scrollDown(id) {
          window.location.href = '#messages_box_' + id;
        }