%link{:rel=>"stylesheet",:type=>"text/css",:media=>"screen",:href=>"http://micasa-fb.com/stylesheets/jacked_fb_styles.css?v=2.0"}
= csrf_meta_tag
%img{:src=>"http://micasa-fb.com/images/herestay.png"}
%br
= yield